:root{
    /* FONTS */
    --sizeFlatText: 3em;
    --sizeH2: 5em;
    --sizeH3: 4em;
}

p {
    font-size: var(--sizeFlatText);
}
h2{
    font-size: var(--sizeH2);
}
h3{
    font-size: var(--sizeH3);
}

blockquote{
    font-size: var(--sizeH3);
}
textarea{
    font-size: var(--sizeFlatText);
}

body{
    margin: 0;
    height: 100dvh;

    display: grid;
    grid-template-rows: 1fr auto;
}

main{
    display: flex;
    /* gap: 1em; */
    padding-bottom: 6em;
    width: 100dvw;
    overflow-x: clip;
    position: relative;
}

main > section, main > article{
    background-color: rgb(237, 237, 237);
    padding: 1em;       
    overflow: scroll;
}
article :focus{
    background-color: red;
}

#noteSection{
    display: block;
}

main > article{ 
    position: absolute;
    left: 0;
    width: 80dvw;
    transition: 1s;
}

#noteSection{
    position: absolute;
    right: -70dvw;
    width: 80dvw;
    min-height: 100dvh;
    transition: 1s;
}


main:has(:focus) {
        & > article:has(:focus){ 
        left: 0;
        transition: 1s;
        }
        article{
        left: -70dvw;
        transition: 1s;
        }
        #noteSection:has(:focus){
        right: 0;
        transition: 1s;
        }
        #noteSection{
        right: -70dvw;
        transition: 1s;
        }
}


nav{
    width: 100%;
    height: 5em;
    position: fixed;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: rgb(184, 184, 184);
}

nav input{
    width: 3em;
    height: 3em;
}

#inputField {
    width: 100% ;
    height: 10em;
    padding: 1em;
    box-sizing: border-box;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 1em;
}

#inputField input[type="text"]{
    height: 3em;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    field-sizing: content;
}

.note {
    background-color: grey;
    padding: 0.5em;
    margin: 1em 0.5em; 
}

blockquote {
    &:before{
        content: '"';
    }
    &:after{
        content: '"';
    }
}