:root{
    /* FONTS */
    --sizeFlatText: 5em;
    --sizeH2: 7em;
    --sizeH3: 6em;

    /* COLORS */
    --backgroundColor: rgb(70, 52, 52);
    --textColorLight: rgb(237, 237, 237);
    --textColorDark: rgb(40, 29, 29);
    --accentColor: rgb(255, 179, 0);

    /* BLOCK SIZES */
    --mainContentBlockSize: 85dvw;
    --mainContentGap: 2em;

    /* TIMING */
    --mainTimingFunction: 1s;
}

/* -----------------------
MARK: general styling
----------------------- */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* -----------------------
MARK: text styling
----------------------- */
*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--textColorLight);
}
p {
    font-size: var(--sizeFlatText);
}
h2{
    font-size: var(--sizeH2);
}
h3{
    font-size: var(--sizeH3);
}

/* -----------------------
MARK: section styling
----------------------- */
#articleAndAnnotation{
    display: flex;
    gap: var(--mainContentGap);
    height: 100dvh;
    width: 100dvw;
    position: absolute;
}

#articleAndAnnotation > *{

    padding: 3em 2em;
    /* margin: 0 1em; */
    height: 100%;
    box-sizing: border-box;
    min-width: var(--mainContentBlockSize);
    overflow-y: scroll;
    overflow-x: hidden;}

#articleAndAnnotation article{
    background-color: var(--backgroundColor);
}

#noteSection {
    background-color: var(--backgroundColor);
}

/* -----------------------
MARK: focus styling
----------------------- */

#articleAndAnnotation article :focus{
    background-color: var(--accentColor);
    color: var(--textColorDark);
}

#noteSection button:focus{
    background-color: var(--textColorDark);
    color: var(--textColorLight);
}

#articleAndAnnotation {
    left: 0;
    transition: 1s;
}


#articleAndAnnotation:has(#noteSection :focus) {
    left: calc((var(--mainContentBlockSize) * 2 + var(--mainContentGap)) * -1 + 100dvw);
}

#articleAndAnnotation:has(article :focus){
    left: 0;
}


/* -----------------------
MARK: Note styling
----------------------- */


.note {
    background-color: var(--accentColor);
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 3em 0;
}
.note *{
    color: var(--textColorDark);
    margin: 0;
}

.note p{
    padding: 0;
    margin: 0;
}

.note blockquote{
    font-size: var(--sizeFlatText);
    font-style: italic;
    &:before{
        content: '"';
    } &:after{
        content: '"';
    }

}

.note button{
    font-size: var(--sizeFlatText);
}

.note div{
    display: flex;
    gap: 1em;
} 

.note textarea{
    margin: 1em 0;
    padding: 0.25em 0.5em;
    font-size: var(--sizeFlatText);
}


/* <div class="note" data-for="sentenceN">
  <p class="note-location">Article Title — Chapter Title</p>
  <blockquote>short quote…</blockquote>
  <textarea placeholder="Write your note…"></textarea>
  <button class="note-save">Save</button>
  <button class="note-delete">Delete</button>
</div> */

/* Selectors you can target:
.note,
.note-location,
.note blockquote,
.note textarea,
.note-save,
.note-delete. */